# Default ignored files
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# JetBrains / IntelliJ
.idea/
*.iml

# Python
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Secrets
.streamlit/secrets.toml